.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved
.vscode
# Compiled shaders (will ship compiled shaders eventually, but it's really not that hard to compile them yourself)
Shaders/SPIRV